manifest {
    name = 'metagenomics-nextflow'
    description = 'Docker-first Nextflow port of the Snakemake metagenomics workflow'
    nextflowVersion = '>=23.10.0'
}

params {
    samples = 'config/samples.tsv'
    assemblies = 'config/assemblies.tsv'
    pacbio_pools = 'config/pacbio_pools.tsv'
    genome_info = 'config/genome_info.csv'

    outdir = 'results'
    adapter_dir = 'adapter_seq'
    adapter = 'NexteraPE-PE.fa'
    tmpdir = ''

    eggnog_data_dir = 'resources/eggnog'
    eggnog_dmnd_db = 'resources/eggnog/bac_arc.dmnd'
    gtdbtk_data_path = '/path/to/release220'

    trimmomatic_steps = 'LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36'
    trimmomatic_illuminaclip = '2:30:10'
    trimmomatic_java_opts = '-Xmx16g'
    spades_kmers = '21,33,55,77'
    min_contig_len = 1000
    metabat_min_contig = 1500
    drep_completeness = 50
    drep_contamination = 10
    eggnog_evalue = '1.0e-10'
    local_smoke = false
    workflow_mode = 'main'
    run_gtdbtk = true
    run_eggnog = true
    gtdbtk_bins = 'drep'
    gtdbtk_bins_dir = ''
    gtdbtk_drep_dir = ''
    eggnog_input = 'mag_prodigal'
    eggnog_mag_prodigal_dir = ''
    eggnog_assembly_contigs_dir = ''

    threads_fastqc = 4
    threads_trimmomatic = 16
    threads_assembly = 16
    threads_metabat = 16
    threads_maxbin = 16
    threads_dastool = 16
    threads_checkm = 16
    threads_drep = 16
    threads_gtdbtk = 16
    threads_prodigal = 4
    threads_eggnog = 16
    threads_bbmap = 16
    threads_instrain_profile = 16
    threads_instrain_compare = 16

    memory_assembly = '32 GB'
    memory_drep = '16 GB'
}

docker {
    enabled = true
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    scratch = false

    withLabel: python {
        container = 'python:3.11-slim'
    }
    withLabel: download {
        container = 'python:3.11-slim'
    }
    withLabel: trimmomatic {
        container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
    }
    withLabel: fastqc {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withLabel: spades {
        container = 'quay.io/biocontainers/spades:3.15.5--h95f258a_1'
    }
    withLabel: binning {
        container = 'quay.io/biocontainers/metabat2:2.17--h6f16272_1'
    }
    withLabel: maxbin {
        container = 'quay.io/biocontainers/maxbin2:2.2.7--he1b5a44_2'
    }
    withLabel: dastool {
        container = 'quay.io/biocontainers/das_tool:1.1.7--r44hdfd78af_1'
    }
    withLabel: checkm {
        container = 'quay.io/biocontainers/checkm-genome:1.2.2--pyhdfd78af_1'
    }
    withLabel: drep {
        container = 'quay.io/biocontainers/drep:3.5.0--pyhdfd78af_0'
    }
    withLabel: gtdbtk {
        container = 'quay.io/biocontainers/gtdbtk:2.4.0--pyhdfd78af_0'
    }
    withLabel: prodigal {
        container = 'quay.io/biocontainers/prodigal:2.6.3--h031d066_9'
    }
    withLabel: eggnog {
        container = 'quay.io/biocontainers/eggnog-mapper:2.1.12--pyhdfd78af_0'
    }
    withLabel: bbmap {
        container = 'quay.io/biocontainers/bbmap:39.01--h92535d8_1'
    }
    withLabel: instrain {
        container = 'quay.io/biocontainers/instrain:1.9.0--pyhdfd78af_0'
    }
}

profiles {
    docker {
        docker.enabled = true
    }

    local_smoke {
        params.samples = 'config/samples_test.tsv'
        params.assemblies = 'config/assemblies_test.tsv'
        params.outdir = '/private/tmp/metagenomics_nextflow_test_results'
        params.tmpdir = '/private/tmp/metagenomics_nextflow_test_tmp'
        params.local_smoke = true
        params.threads_fastqc = 1
        params.threads_trimmomatic = 1
        params.threads_assembly = 2
        params.memory_assembly = '8 GB'
    }

    drep_instrain {
        params.run_gtdbtk = false
        params.run_eggnog = false
    }

    gtdbtk_only {
        params.workflow_mode = 'gtdbtk_only'
        params.run_gtdbtk = true
        params.run_eggnog = false
    }

    eggnog_only {
        params.workflow_mode = 'eggnog_only'
        params.run_gtdbtk = false
        params.run_eggnog = true
    }
}
